<p id="notice"><%= notice %></p>

<h1>しりとりスト一覧</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'しりとりスト情報', user %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '除籍', user, method: :delete, data: { confirm: 'ほんとうに じょせき する?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
  <%= link_to 'しりとりスト登録', new_user_path %>
</p>
<p>
  <%= link_to 'しりとりルーム一覧へ', rooms_path %>
</p>