<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'しりとりはじめる', shiritori_messages_index_path %>
<%= link_to 'しりとりルーム作成', new_room_path %>
<%= link_to 'しりとりルーム一覧', rooms_path %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'User list', users_path %> |
<% if logged_in? %>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% end %>