<p id="notice"><%= notice %></p>

<h1><%= @room.name %></h1>
<div id='messages', data-room_id="<%= @room.id %>">
  <%= render :partial => "message", :collection => @messages %>
</div>

<div id='current_user' data-user_id="<%= @current_user.id %>">
  <%= @current_user.name%> さん
</div>
<div class="input">
  <form>
    <label>しりとる(※ひらがなのみ)</label>
    <input type="text" data-behavior="room_speaker">
  </form>
</div>
<div>
  <%= link_to 'ルーム一覧にもどる', rooms_path %>
</div>
